/*======================================================== PHONE SETTINGS */

#navbar{
  position: relative;
  float: right;
}

#iconph{
  border: solid 1px black;
  position:absolute;
  top: 0%;
  left: 0%;
  width: 15%;
  height: 15%;
}

#main{
  clear: both;
}
#main .project_intro{
  text-align: right;
}
#main h1{
  font-size: 3em;
  text-align: right;
  font-family: 'Chewy';
}
#main h2{
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
    padding-left: 1em;
}
#main p{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

#navbar ul li a{
  display: block;
  font-family: 'Lato', sans-serif;
  font-size:1em;
  line-height: 1em;
  transition: transform 0.8s;
  text-decoration: none;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
    width: 46%;
    height: auto;
    display: inline-block;
    margin:1%
}
.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
    width: 46%;
    height: auto;
    display: inline-block;
    margin:1%
}
.card img {
   width: 100%;
}
.card2 img {
   width: 100%;
}
/* ------------------------------------------------------------ page layout */
#header{
  height: auto;
  position: static;
  overflow:hidden;
}



/*========================================================================= */
/*======================================================== MONITOR SETTINGS */
@media only screen and (min-width: 768px) {
/* body{
  padding: 0px;
} */
/*-------------------------------------------------------- section settings */

/* ------------------------------------------------------------ nav styling */
#navbar{
  display: block;
}
#navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar ul li{
  padding: 15% 0px 15%;
}
#navbar ul li a{
  display: block;
  font-family: 'Lato', sans-serif;
  font-size:0.85em;
  line-height: 1em;
  transition: transform 0.8s;
  text-decoration: none;
}
#navbar a:link {
    color: black;
}
#navbar a:visited {
    color: black;
}
#navbar a:hover {
    color: lightgrey;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#navbar a:active {
    color: blue;
}

/* ------------------------------------------------------------ main styling */

#main h1{
  font-size: 5em;
  font-family: 'Chewy';
}

#main h2{
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  padding-left: 1em;
}

#main .project_intro{
  text-align: right;
  margin-bottom: 15%;
}

#main p{
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  line-height: 140%;
  letter-spacing: 0.00625em;
  text-indent: 1.3em;
}

/* -------------------------------------------------------- footer styling */
#footer .footer_hline{
  width: 100%;
  background-color: silver;
  height: 1px;
}
#footer p{
  font-size: 0.7em;
  color:silver;
}


/* ------------------------------------------------------------ card styling */

/* #imggal{
  width: 70%
} */

/* ========================================================================= */
/* ============================================================= PAGE LAYOUT */
#header{
  height: auto;
  position: static;
  overflow:hidden;
}
#iconph{
  border: solid 1px black;
  position:fixed;
  top: 0%;
  left: 0%;
  width: 15%;
  height: 15%;
}

#navbar{
  position:fixed;
  top:55%;
  left:1%;
  z-index: 5;
}

#main{
  position:absolute;
  height: auto;
  top:0;
  right:0;
  margin-left: 30%;
  margin-right: 15%;
}

#body{
  position: static;
  height: auto;
  overflow:hidden;
  content: " ";
  display: block;
  clear: both;
}

#footer{
  position: absolute;
  width: 100%;
  text-align: center;
  height: auto;
  margin-bottom: 3%;
}

.project_container{
  margin-bottom: 10%;
}

}
