@import url("https://use.typekit.net/fzp0fam.css");
/* ====================================================================== */
/* ======================================================= PHONE SETTINGS */
h1{
  font-size: 3em;
}
@media only screen and (min-width: 400px) {
#icontest{
  font-family: 'Europa', sans-serif;
  font-size: 2.5em;
  margin:0 0px 0px 1%;
  position:fixed;
  color: black;
}
#icontest:visited {
  color: black;
}
#icontest:hover {
  color: white;
}
#icontest:active {
  color: black;
}

#navbar{
  position: relative;
  float: right;
}

#main .project_intro{
  text-align: right;
}
#main h1{
  font-size: 3em;
  text-align: right;
  font-family: 'Europa', sans-serif;
}
#main h2{
  font-size: 1.5em;
  font-family: 'Europa', sans-serif;
  padding-left: 1em;
}

#main p{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}


/* ------------------------------------------------------ temporary cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
    width: 46%;
    height: auto;
    display: inline-block;
    margin:1%
}
.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 46%;
    height: auto;
    display: inline-block;
    margin:1%
}
.card img {
   width: 100%;
}
.card2 img {
   width: 100%;
}
/* ------------------------------------------------------------ page layout */
#header{
  height: auto;
  position: static;
  overflow:hidden;
}

body{
  background-color: #FCE4C4;
  margin: 0;
}

/* ------------------------------------------------------------ main styling */
#main h1{
  font-size: 3em;
  font-family: 'Europa', sans-serif;
  margin: 0.8em 0;
}

#main h2{
  font-size: 1.5em;
  font-family: 'Europa', sans-serif;
  padding-left: 1em;
}

#main p{
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  line-height: 140%;
  letter-spacing: 0.00625em;
  text-indent: 1.3em;
}
.project_img{
  width:100%;
  height:200px;
  border: solid 1px black;
}
/* ------------------------------------------------------ front page gallery */
.gallery{
  position:relative;
  height: auto;
  overflow:auto;
  float: left;
  width:100%;
  margin-bottom: 5vh;

}
/* .gallery a{
  display: block;
  transition: transform 0.5s;
  text-decoration: none;
}
.gallery a:link {
    color: black;
}
.gallery a:visited {
    color: black;
}
.gallery a:hover {
    color: #8D8D8D;
}
.gallery a:active {
    color: white;
} */
.gallery_icon{
  display: block;
  float:left;
  left:0;
  width: 100%;
  height: 38vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#gal1 .gallery_icon{
  background-image: url('img/DSC_0047.JPG');
}
#gal2 .gallery_icon{
  background-image: url('img/hnd-dragon-icon.jpg');
}

.gallery_overlay{
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom:0;
  width: 100%;
  height: 20%;
  transition: 0.5s ease;
}
.gallery_overlay h2{
  text-align: right;
  padding-right: 0.5em;
}
.gallery:hover .gallery_overlay{
  height:100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#gal1 .gallery_overlay{
  color: white;
}
#gal2 .gallery_overlay{
  color: white;
}

/* -------------------------------------------------------- footer styling */
#footer .footer_hline{
  width: 100%;
  background-color: silver;
  height: 1px;
}
#footer p{
  font-size: 0.7em;
  color:silver;
}


/* ========================================================================= */
/* ============================================================= PAGE LAYOUT */
#header{
  height: auto;
  position: static;
  overflow:hidden;
}



#main{
  position:absolute;
  height: auto;
  width:60%;
  margin-left: 25%;
  margin-right: 15%;
}
#main .project_intro{
  text-align: right;
  margin-bottom: 15%;
}
/* -------------------------------------------------------- top of home */
#projects{
  /* margin-top: 20vh; */
  overflow: auto;
}
#projects h1{
  margin:0.4em 0;
}

#body{
  position: static;
  height: auto;
  overflow:hidden;
  content: " ";
  display: block;
  clear: both;
}

#footer{
  position: absolute;
  width: 100%;
  text-align: center;
  height: auto;
  margin-bottom: 1%;
}

.project_container{
  margin-bottom: 6%;
  position:relative;
}

/*========================================================================= */
/*======================================================== MONITOR SETTINGS */
@media only screen and (min-width: 950px) {
  .gallery{
    width: 48%;
    margin: 0 1%;
  }
  #projects{
    margin-top: 20vh;
    overflow: auto;
  }
  #projects h1{
    margin: 0.8em 0;
  }
  /* ------------------------------------------------------------ nav styling */
  #navbar{
    display: block;
    position:fixed;
    top:55%;
    left:1%;
    z-index: 5;
  }

  #navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #navbar ul li{
    padding: 15% 0px 15%;
  }
  #navbar ul li a{
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    line-height: 1em;
    transition: transform 0.8s;
    text-decoration: none;
  }
  #navbar a:link {
      color: black;
  }
  #navbar a:visited {
      color: black;
  }
  #navbar a:hover {
      color: #8D8D8D;
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
  #navbar a:active {
      color: white;
  }
  /* ------------------------------------------------------------ main styling */
  #main h1{
    font-size: 6em;
    font-family: 'Europa', sans-serif;
    margin: 0.8em 0;
  }

  #main h2{
    font-size: 1.5em;
    font-family: 'Europa', sans-serif;
    padding-left: 1em;
  }

  #main p{
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    line-height: 140%;
    letter-spacing: 0.00625em;
    text-indent: 1.3em;
  }
}
